.bannerLogin{
    position: absolute;
    width: 53.75%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #1D9BF0;
}

.contText{
    position: absolute;
    width: 52.22%;
    height: 16.98%;
    left: 14%;
    top: 9.56%;


}

.contText h2{
    position: absolute;
    width: 100%;
    height: 50%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;

    color: #FFFFFF;
}

.bug{
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;

    color: #FFFFFF;
}

.contText p{
    position: absolute;
    width: 424px;
    height: 27px;
    top: 70%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    color: #FFFFFF;
}

.bannerLogin img{
    position: absolute;
    width: 70.75%;
    height: 68.15%;
    left: 72px;
    top: 18%;
}

.autoria{
    position: absolute;
    bottom: 10%;
    left: 39%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;

    color: #FAFAFA;
}

.conttop{
    position: absolute;
    width: 31%;
    height: 5%;
    left: 62.15%;
    top: 8.15%;

}

.conttop img{
    position: absolute;
    left: 0%;
    right: 88.54%;
    top: 0%;
    bottom: 0%;
}

.conttop p{
    position: absolute;
    left: 39.78%;
    right: 0%;
    top: 28.57%;
    bottom: 26.19%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

    color: #191D23;
}

.linktocadastro{
    color: #1D9BF0;
    text-decoration: none;
    font-weight: bold;
}

.toptextlog{
    position: absolute;
    width: 22%;
    height: 10.4%;
    left: 62.15%;
    top: 19%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;

    color: #212121;
}

.middletextlog{
    position: absolute;
    height: 27px;
    left: 62.15%;
    top: 35%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;

    color: #757575;
}