.lefttr{
    position: absolute;
    width: 96vw;
    right: 29.9999%;
    top: 0%;
    bottom: 99.89%;

    background: #EBEEF0;
    transform: rotate(90deg);
}

.righttr{
    position: absolute;
    width: 96vw;
    right: -19.999%;
    top: 0%;
    bottom: 99.89%;


    background: #EBEEF0;
    transform: rotate(-90deg);
}